<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body th:fragment="navbar">
    <nav>
      <div class="nav-wrapper valign-wrapper" style="padding: 0rem 2rem; justify-content: space-between;"> 
		<ul class="left">
			<li>
				<a href="">
					<img th:src="${profile.picture}" width="35" class="circle responsive-img" alt="" />
				</a>
			</li>
		</ul>
		</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
			<li>
				<a th:href="@{/logout}">Log out</a>
			</li>
        </ul>
      </div>
    </nav>
  </body>
</html>
